body{
  color: white;
  background-color: black;
}

.game-container-css {
  display: inline-grid;
  grid-template-columns: repeat(25, 20px);
  grid-template-rows: repeat(25, 20px);
  padding: 15px;
  row-gap: 3px;
  column-gap: 3px;
  border: solid;
}
.fixed-inline-div {
  background-color:white;
  display: inline-block;
  border-left: 5px;
  border-right: 5px;
  border: none;
  width: 100%;
  height: 100%;
}
.snake-block {
  background-color: red;
}
.food-block {
  background-color: green;
}

.invisible {
  opacity: 0%;
  height: 0px;
  width: 0px;
}

.gso-css{
  display: inline-grid;
  grid-template-rows: 100px 100px;
  position: fixed;
  top: 25px;
  left: 25px;
  width: 600px;
  height: 600px;
  opacity: 50%;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

.gso-message{
  color: white;
  font-size: 50px;
}
.gso-score{
  color: white;
  font-size: 50px;
  justify-content: center;
}
